@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

::-moz-selection { background-color: #6B61AB; color: #fff; }
::selection { background-color: #6B61AB; color: #fff; }

html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 50px; /* Margin bottom by footer height */
    background-color: #f3f3f4;
    font-family: 'Open Sans', sans-serif;;
}

.igbox { background-color: #FFF; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

footer {
    border-top: #f3f3f4 solid 2px;
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    background-color: #fff;
}


.text-purple { color: #6B61AB !important; }
.border-purple { border-color: #6B61AB !important; }

.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover:active {
    background-color: #6B61AB !important;
    border-color: #6B61AB !important;
}
