@charset "UTF-8";

@font-face {
  font-family: "onelink";
  src:url("../fonts/onelink.eot");
  src:url("../fonts/onelink.eot?#iefix") format("embedded-opentype"),
    url("../fonts/onelink.woff") format("woff"),
    url("../fonts/onelink.ttf") format("truetype"),
    url("../fonts/onelink.svg#onelink") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "onelink" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ig-"]:before,
[class*=" ig-"]:before {
  font-family: "onelink" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ig-angle-down:before {
  content: "\61";
}
.ig-angle-left:before {
  content: "\62";
}
.ig-angle-right:before {
  content: "\63";
}
.ig-angle-up:before {
  content: "\64";
}
.ig-arrow-down:before {
  content: "\65";
}
.ig-arrow-left:before {
  content: "\66";
}
.ig-arrow-right:before {
  content: "\67";
}
.ig-arrow-up:before {
  content: "\68";
}
.ig-arrow-circle-up:before {
  content: "\69";
}
.ig-arrow-circle-right:before {
  content: "\6a";
}
.ig-arrow-circle-down:before {
  content: "\6b";
}
.ig-arrow-circle-left:before {
  content: "\6c";
}
.ig-arrows-alt:before {
  content: "\6d";
}
.ig-ban:before {
  content: "\6e";
}
.ig-calculator:before {
  content: "\6f";
}
.ig-calendar-o:before {
  content: "\70";
}
.ig-caret-down:before {
  content: "\71";
}
.ig-caret-left:before {
  content: "\72";
}
.ig-caret-right:before {
  content: "\73";
}
.ig-caret-up:before {
  content: "\74";
}
.ig-chevron-down:before {
  content: "\75";
}
.ig-chevron-left:before {
  content: "\76";
}
.ig-chevron-right:before {
  content: "\77";
}
.ig-chevron-up:before {
  content: "\78";
}
.ig-check:before {
  content: "\79";
}
.ig-circle:before {
  content: "\7a";
}
.ig-circle-o:before {
  content: "\41";
}
.ig-clock-o:before {
  content: "\42";
}
.ig-clone:before {
  content: "\43";
}
.ig-code:before {
  content: "\44";
}
.ig-code-fork:before {
  content: "\45";
}
.ig-cog:before {
  content: "\46";
}
.ig-cogs:before {
  content: "\47";
}
.ig-commenting-o:before {
  content: "\48";
}
.ig-commenting:before {
  content: "\49";
}
.ig-comments:before {
  content: "\4a";
}
.ig-comments-o:before {
  content: "\4b";
}
.ig-compass:before {
  content: "\4c";
}
.ig-credit-card:before {
  content: "\4d";
}
.ig-ellipsis-v:before {
  content: "\4e";
}
.ig-envelope-o:before {
  content: "\4f";
}
.ig-exclamation:before {
  content: "\50";
}
.ig-eye:before {
  content: "\51";
}
.ig-facebook-official:before {
  content: "\52";
}
.ig-facebook:before {
  content: "\53";
}
.ig-floppy-o:before {
  content: "\54";
}
.ig-folder-o:before {
  content: "\55";
}
.ig-folder-open-o:before {
  content: "\56";
}
.ig-heart-o:before {
  content: "\57";
}
.ig-history:before {
  content: "\58";
}
.ig-inbox:before {
  content: "\59";
}
.ig-location-arrow:before {
  content: "\5a";
}
.ig-list-ul:before {
  content: "\30";
}
.ig-lock:before {
  content: "\31";
}
.ig-twitter:before {
  content: "\32";
}
.ig-tumblr:before {
  content: "\33";
}
.ig-unlock-alt:before {
  content: "\34";
}
.ig-unlock:before {
  content: "\35";
}
.ig-bars:before {
  content: "\36";
}
.ig-bell-o:before {
  content: "\37";
}
.ig-bell-slash-o:before {
  content: "\38";
}
.ig-icomoon:before {
  content: "\39";
}
.ig-icomoon-1:before {
  content: "\21";
}
.ig-icomoon-2:before {
  content: "\22";
}
.ig-icomoon-3:before {
  content: "\23";
}
.ig-icomoon-4:before {
  content: "\24";
}
.ig-icomoon-5:before {
  content: "\25";
}
.ig-icomoon-6:before {
  content: "\26";
}
.ig-icomoon-7:before {
  content: "\27";
}
.ig-icomoon-8:before {
  content: "\28";
}
.ig-icomoon-9:before {
  content: "\29";
}
.ig-icomoon-10:before {
  content: "\2a";
}
.ig-icomoon-11:before {
  content: "\2b";
}
.ig-icomoon-12:before {
  content: "\2c";
}
.ig-icomoon-13:before {
  content: "\2d";
}
.ig-icomoon-14:before {
  content: "\2e";
}
.ig-icomoon-15:before {
  content: "\2f";
}
.ig-icomoon-16:before {
  content: "\3a";
}
.ig-icomoon-17:before {
  content: "\3b";
}
.ig-icomoon-18:before {
  content: "\3c";
}
.ig-icomoon-19:before {
  content: "\3d";
}
.ig-icomoon-20:before {
  content: "\3e";
}
.ig-icomoon-21:before {
  content: "\3f";
}
.ig-icomoon-22:before {
  content: "\40";
}
.ig-icomoon-23:before {
  content: "\5b";
}
.ig-icomoon-24:before {
  content: "\5d";
}
.ig-icomoon-25:before {
  content: "\5e";
}
.ig-icomoon-26:before {
  content: "\5f";
}
.ig-icomoon-27:before {
  content: "\60";
}
.ig-icomoon-28:before {
  content: "\7b";
}
.ig-icomoon-29:before {
  content: "\7c";
}
.ig-beer:before {
  content: "\7d";
}
.ig-drink:before {
  content: "\7e";
}
.ig-book:before {
  content: "\5c";
}
.ig-suitcase:before {
  content: "\e000";
}
.ig-tags:before {
  content: "\e001";
}
.ig-umbrella:before {
  content: "\e002";
}
.ig-cube:before {
  content: "\e003";
}
.ig-pencil-square-o:before {
  content: "\e004";
}
